{%extends 'base.html'%}
{%load crispy_forms_tags%}
{%block content%}

<div class="container">
    <div class="container m-auto">
        <form action="" method="post" enctype="multipart/form-data">
            <div class="change">
                {% csrf_token %}
               {{new_form|crispy}}
            </div>
            
            <button class="btn btn-sm btn-color">Upload</button>
            <button type="button" class="btn btn-sm btn-outline-danger" data-dismiss="modal">
                Close
            </button>
        </form>
    </div>
    
</div>


{%endblock%}