{%extends 'base.html'%}
{%load bootstrap3%}
{%block content%}

<!-- <a href="{%url 'new_chat' cohorts.id %}?next={{ request.path}}" class="btn btn-primary" style="margin-left: 150px;">ADD POST</a> -->
<div class="container">
    <div class="row">
      {%if cohorts.group.all%}
      <h5 class="card-header" style="text-align: center; background-color: aqua;">{{post.name}}</h5>
      {%for post in cohorts.group.all%}
      <div class="card">
        <!-- <h5 class="card-header" style="text-align: center; background-color: aqua;">POST</h5> -->
      {{post.author}} : {{post.text}}
      </div>    
      <!-- <a href="{%url 'new_chat' cohorts.id %}?next={{ request.path}}" class="btn btn-primary">NEW MESSAGE</a> -->
      {%endfor%}
      <a href="{%url 'new_chat' cohorts.id %}?next={{ request.path}}" class="btn btn-primary">NEW MESSAGE</a>
      {%endif%}
    </div>
  </div>

{%endblock%}